.offcanvas {
    width: 280px;
  }
  
  @media (min-width: 992px) {
    .offcanvas {
      position: static;
      visibility: visible !important;
      transform: none !important;
      border: none;
      box-shadow: none;
      height: auto;
      display: flex !important;
    }
  
    .offcanvas-body {
      padding: 2rem;
    }
  }
  
.navbar-toggler {
border: none !important;
box-shadow: none !important;
outline: none !important;
}

.dropdown-menu {
  font-size: 0.9rem !important;
  border: none !important;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08)!important; /* optional shadow */
}

.dropdown-item:hover {
  background-color: #e9f6ee;
  color: #198754;
}
