:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color-scheme: light dark;
  color: #212529;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-light-green-accent: #66d1a8;
}

body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
